<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Coordinate</title>
  </head>
  <body>
    <h1>Coordinate on <a title="{{ .Base.Addr }}" href="/">{{ .Base.Host }}</a></h1>

    {{ if ne (index .Base.SplitPath 0) ("") }}
      <ul class="path">
        {{ range .Base.SplitPath }}
          <li>{{ . }}</li>
        {{ end }}
        <div class="download-menu">
          <span class="download-title">Dowload</span>
          <a 
            class="download-option"
            href="/{{ call $.Base.PathJoin ("zip") ($.Base.Path) }}"
          >
            ZIP
          </a>
          <a
            class="download-option"
            href="/{{ call $.Base.PathJoin ("tar") ($.Base.Path) }}"
          >
            TAR
          </a>
        </div>
      </ul>
    {{ end }}

    <ul>
      {{ range .Entries }}
        <li>
          <a href="{{ call $.Base.PathJoin ($.Base.Path) (.Name) }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </body>
</html>
