<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Coordinate</title>
  </head>
  <body>
    <!-- Use ::after pseudo-element to show title on hover. Maybe generate a QR Code -->
    <h1>Coordinate on <a title="{{ .Base.Addr }}" href="/">{{ .Base.Host }}</a></h1>
    <ul class="path">
      {{ range .Base.SplitPath }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>

    <a
      href="{{ call .Base.PathJoin ("/download/") (.Base.Path) }}"
      download="{{ .Name }}"
    >
      <span class="material-symbols-outlined">file_download</span>
      <span>Download</span>
    </a>
    
    {{ if call .Base.ArrContains (call .Base.Arr ".png" ".jpg" ".jpeg" ".webp" ".svg") (.Ext) }}
      <img src="/download/{{ .Base.Path }}" alt="{{ .Name }}">
    {{ else if call .Base.ArrContains (call .Base.Arr ".mp4" ".mov" ".avi" ".wmf") (.Ext) }}
      <video controls src="/download/{{ .Base.Path }}"></video>
    {{ else }}
      <pre><code>{{ .Content }}</code></pre>
    {{ end }}
  </body>
</html>
