{{ template "base" . }}
{{ define "content" }}
  <ul class="path">
    {{ range .Base.Split }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>

  <a
    href="{{ call .Base.Join ("/download/") (.Base.Path) }}"
    download="{{ .Name }}"
  >
    <span class="material-symbols-outlined">file_download</span>
    <span>Download [{{ .Size }}]</span>
  </a>
  
  {{/* Recognize file extension  */}}
  {{ if eq .Type "image" }}
    <img src="/download/{{ .Base.Path }}" alt="{{ .Name }}">
  {{ else if eq .Type "video" }}
    <video controls src="/download/{{ .Base.Path }}"></video>
  {{ else }}
    <pre><code>{{ .Content }}</code></pre>
  {{ end }}
{{ end }}
