@import "https://unpkg.com/open-props";

:root {
  --background: var(--gray-2);
  --foreground: var(--gray-9);

  --active: var(--teal-6);
  --active-dimm: var(--teal-9);
  --alt: var(--orange-5);
  --error: var(--red-7);

  --border: 1px solid var(--gray-5);
}

* {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
}

ul {
  background-color: var(--background);
  border: var(--border);
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-2);
  list-style-type: none;
}

ul.path {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
}

ul.path > li {
  position: relative;
}

ul.path > li:not(:first-child)::before {
  content: ">";
  display: block;
  position: absolute;
  left: -11px;
  top: 4px;
}

li {
  padding: 4px;
  border-radius: 6px;
  outline: 1px solid var(--background);
  transition: all 300ms var(--ease-5);
}

li:is(:hover, :focus) {
  box-shadow: var(--shadow-1);
  outline-color: var(--gray-8);
}

li:is(:hover, :focus) a {
  color: var(--alt);
}

.download-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  position: absolute;
  top: calc(1.5ch - 12px);
  right: 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 300ms ease-in-out;
}

.download-menu:hover {
  background-color: var(--background);
  border: var(--border);
  margin-bottom: 4px;
}

.download-title {
  background-color: var(--active);
  color: var(--background);
  border: 1px solid var(--active-dimm);
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  transition: all 300ms;
}

.download-menu:hover .download-title {
  background-color: var(--background);
  color: var(--active);
}

.download-option {
  opacity: 0;
  transition: all 500ms;
}

.download-option::before {
  content: "> ";
}

.download-menu:hover .download-option {
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--active);
  font-size: 1.1em;
}

a:visited {
  color: var(--active-dimm);
}

a[download] {
  background-color: var(--active);
  color: var(--background);
  padding: 0.5rem 0.7rem;
  padding-inline-end: 0.9rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-1);
  display: inline-block;
  text-align: center;
}

pre {
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-shadow: var(--shadow-2);
  border: var(--border);
  tab-size: 2ch;
  overflow-x: scroll;
  scrollbar-width: none;
}

code {
  background-color: var(--background);
  font-family: var(--font-mono);
  font-size: 1.2em;
}

img, video {
  display: block;
  margin-block: 1rem;
  border-radius: 0.45rem;
}

.error {
  color: var(--error);
  width: max-content;
  margin-bottom: 1rem;
  border: 2px dashed var(--error);
  padding: 1rem;
}

.error::before {
  content: "Error: ";
}

.material-symbols-outlined {
  vertical-align: text-bottom;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-9);
    --foreground: var(--gray-1);
    --border: 1px solid var(--gray-8);
  }
}