@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background: hsl(0, 0%, 100%);
  --shadow: rgba(0 0 0 / 0.3);
  --foreground: hsl(0, 0%, 5%);

  --active: hsl(150, 50%, 50%);
  --active-dimm: hsl(160, 40%, 40%);
  --alt: hsl(260, 50%, 70%);
  --error: hsl(352, 80%, 50%);

  --fonts-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
}

* {
  font-family: var(--fonts-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
}

ul {
  background-color: var(--background);
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px var(--shadow);
  list-style-type: none;
}

ul.path {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

ul.path > li {
  position: relative;
}

ul.path > li:not(:first-child)::before {
  content: "/";
  display: block;
  position: absolute;
  left: -6px;
  top: 4px;
}

li {
  padding: 4px;
  border-radius: 6px;
  transition: box-shadow 240ms ease-in;
}

li:is(:hover, :focus) {
  box-shadow: 0 0 2px var(--shadow);
}

li:is(:hover, :focus) a {
  color: var(--alt);
}

a {
  text-decoration: none;
  color: var(--active);
  font-size: 1.1em;
}

a:visited {
  color: var(--active-dimm);
}

a[download] {
  background-color: var(--active);
  color: var(--background);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px var(--shadow);
  display: inline-block;
}

pre {
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-shadow: 1px 1px 4px var(--shadow);
  overflow: scroll;
  tab-size: 2ch;
}

code {
  background-color: var(--background);
  font-family: var(--font-mono);
}

img, video {
  display: block;
  margin-block: 1rem;
  border-radius: 0.45rem;
}

.error {
  border: var(--error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 10%);
    --shadow: rgba(200 200 200 / 0.3);
    --foreground: hsl(0, 0%, 95%);
  }
}